*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html{
    font-size: 12px;
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/bg-pattern-desktop.svg"), linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: 100%;
}
main{
    display: flex;
    max-width: 70rem;
    min-height: 40rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
    -webkit-box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
    -moz-box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
}
.main__img-container{
    position: relative;
    flex-basis: 100%;
    width: 100rem;
    background-image: url("./img/illustration-woman-online-desktop.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: left -6.8rem top 50%;
}
.illustration-box-img{
    position: absolute;
    top: 40%;
    left: -11rem;
    filter: drop-shadow(0 0 0 var(--Very-dark-grayish-blue));
}
.main__faq-container{
    flex-basis: 100%;
    padding: 5rem;
}
h1{
    color: var(--Very-dark-desaturated-blue);
    font-size: 2rem;
}
.q-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    
}
button{
    width: 100%;
    color: var(--Very-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
button:hover{
    color: var(--Soft-red);
}
p{
    /* margin-bottom: 2rem; */
    color: var(--Dark-grayish-blue);
}
.answer{
    display: none;
}
.active{
    display: block;
    padding-top: 1rem;
    /* font-weight: bold; */
}