*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html{
    font-size: 12px;
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url("./img/bg-pattern-desktop.svg"), linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: contain;
    padding: 2rem;
}
main{
    display: flex;
    width: 60rem;
    min-height: 40rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
    -webkit-box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
    -moz-box-shadow: -1px 20px 72px -19px rgba(29,30,53,0.75);
}
.main__img-container{
    position: relative;
    flex-basis: 100%;
    width: 10rem;
    background-image: url("./img/illustration-woman-online-desktop.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: left -6rem top 35%;
}
.illustration-box-img{
    width: 50%;
    position: absolute;
    top: 36%;
    left: -6.6rem;
    filter: drop-shadow(0 0 0 var(--Very-dark-grayish-blue));
}
.main__faq-container{
    flex-basis: 100%;
    padding: 5rem;
}
h1{
    color: var(--Very-dark-desaturated-blue);
    font-size: 2rem;
}
.q-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    
}
button{
    width: 100%;
    color: var(--Very-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
button:hover{
    color: var(--Soft-red);
}
p{
    color: var(--Dark-grayish-blue);
}
.answer{
    display: none;
}
.active-p{
    display: block;
    padding-top: 1rem;
}
.active-b{
    font-weight: bold;
}
.active-i{
    transform: scaleY(-1);    
}
@media (max-width:860px){
    body{
        background-image: url("./img/bg-pattern-mobile.svg"), linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    }
    main{
        flex-wrap: wrap;
        margin-top: 30%;
    }
    .main__img-container{
        background-image: none;
    }
    h1{
        text-align: center;
    }
    .illustration-box-img{
        width: 70%;
        top: -80%;
        left: 15%;
    }
    .main__faq-container{
        padding: 0 2rem;
        padding-bottom: 5rem;
    }
}